<template>
    <div>
       <!-- start banner Area -->
    <section class="about-banner" >
    	<div class="container">
    		<div class="row d-flex align-items-center justify-content-center">
    			<div class="about-content col-lg-12">
    				<h1 class="text-white">
    					About Me
    				</h1>
    				<p class="text-white link-nav"><router-link to="/">Home</router-link>  <span class="lnr lnr-arrow-right"></span>  <router-link to="/about">About</router-link></p>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- End banner Area -->
    <!-- Start home-about Area -->
    <section class="home-about-area section-gap" v-if="is_refresh">
    	<div class="container">
    		<div class="row align-items-center justify-content-between">
    			<div class="col-lg-6 col-md-6 home-about-left">
    				<img class="img-fluid" :src="imgLink" alt="">
    			</div>
    			<div class="col-lg-5 col-md-6 home-about-right">
    				<h6>About Me</h6>
    				<h1 class="text-uppercase">Personal Details</h1>
    				<p>
                        {{ profiles[0].intro_text }}
    				</p>
					<router-link to="/my-portfolio" class="primary-btn text-uppercase">View Full Portfolio</router-link>
    			</div>
    			<div class="col-lg-12 pt-60">
    				<p>
                        {{ profiles[0].full_text }}
    				</p>

    				<h4 class="pt-30">Tools Expertness</h4>
    			</div>
    		</div>
    		<div class="row skillbar-wraps">
			
			<div class="col-lg-6 skill-left">
				<ul class="skills-list">
					<li v-for="(tool, i) in tools" :key="i" class="skills-list__item">
						<div :style="{ width: tool.percent + '%'}" class="skills-list__wrap" >
							<label class="skills-list__text">{{ tool.name }}</label>
							<label class="skills-list__progress">{{ tool.percent + '%' }}</label>
						</div>
					</li>
				</ul>
				
			</div>
		</div>
    	</div>
    </section>
    <!-- End home-about Area -->

    </div>
</template>

<script>
	
    export default {
		
        data: function(){
            return{
                profiles: [],
                tools:[],
                is_refresh: false,
				imgLink: '',
				intervalID: '',
				increment: 1,
				
            }
		},

	
        mounted() {
			this.update();
			this.intervalID = setInterval(() => {
			this.getLevelProgress(this.increment)
			}, 10)
		},
		
        methods:{

			getLevelProgress: function(value) {
				this.tools.forEach(data => {
					data.initLevel = Math.min(Math.floor(0+value), data.percent)
				})
			},
			beforeDestroy: function() {
				clearInterval(this.intervalID)
			},
            update: function(){
                this.is_refresh = false
                axios.get('api/about').then((response) =>{
                    this.profiles = response.data[0]
                    this.tools = response.data[1]
                    this.imgLink = this.profiles[0].avatar_about
                    this.is_refresh = true
                    console.log(response.data[0])
                })
                
            }
        }
    }
</script>
<style  lang="scss" scoped>
.skills-list{
	padding-top: 50px;
	&__item{
		border: 1px solid #8490ff;
		border-radius: 3px;
		margin-bottom: 35px;
	}
	&__wrap{
		position: relative;
		height: 25px;
		background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
   		background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
   		background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
		background: #8490ff;
		font-size: 25px;
	}
	&__text{
		position: relative;
		font-size: 16px;
		top: -30px;
    	left: 0;
	}
	&__progress{
		position: absolute;
		right: 5px;
    	font-size: 14px;
    	top: 1px;
		color: #fff;
	}
}


</style>
