<template>
    <div>
      
         <!-- Start testimonial Area -->
        <section class="portfolio-area section-gap" id="portfolio">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">All Latest Featured Projects</h1>
                        </div>
                    </div>
                </div>


                <div class="title-container">
                	<div class="filters">
                		<span class="filter" :class="{ active: currentFilter === 'all' }" @click="setFilter('all')">All</span>
                		<span class="filter" :class="{ active: currentFilter === 'vector' }" @click="setFilter('vector')">Vector</span>
                		<span class="filter" :class="{ active: currentFilter === 'raster' }" @click="setFilter('raster')">Raster</span>
                		<span class="filter" :class="{ active: currentFilter === 'ui/ux' }" @click="setFilter('ui/ux')">Ui/Ux</span>
                        <span class="filter" :class="{ active: currentFilter === 'printing' }" @click="setFilter('printing')">Printing</span>
                	</div>
                </div>

                <transition-group class="projects" name="projects" >
                	    <div class="project" v-if="currentFilter === work.category || currentFilter === 'all'" :key="work.name_works" v-for="work in works">
                	    	<div class="project-image-wrapper">
                	    		<img class="project-image" :src="'/storage/' + work.img">
                	    		<div class="gradient-overlay"></div>
                	    	</div>
                            <div class="p-inner">
                                <h4>{{ work.name_works }}</h4>
                                <div class="cat">Category {{ work.category }}</div>
                            </div>
                    </div>
                </transition-group>
            </div>
        </section>
    </div>
</template>

<script>
	
    export default {
		data: function(){
            return{
                works: [],
                is_refresh: false,
                imgLink: '',
                currentFilter: 'all',
            }
		},
		mounted() {
			this.update();
			
		},
		methods:{
            update: function(){
                this.is_refresh = false
                axios.get('api/all-works').then((response) =>{
                    this.works = response.data
                    console.log(this.works)
                    this.is_refresh = true
                })
                
            },
            setFilter: function(filter) {
			    this.currentFilter = filter;
		    }
        }
       
    }
</script>

<style lang="scss" scoped>
    .title-container {
	    display:flex;
	    flex-direction:column;
	    justify-content:center;
	    align-items:center;
    }
    
    .project-title {
    font-size:16pt	
    }

    .filter {
    	font-family:arial;
    	padding: 6px 6px;
    	cursor:pointer;
    	border-radius: 6px;
    	transition: all 0.35s;
    }

    .filter.active {
    	box-shadow:0px 1px 3px 0px #00000026;
    }

    .filter:hover {
    	background:lightgray;
    } 

    .projects {
    	margin-bottom:50px;
    	margin-top:25px;
    	display:flex;
    	flex-wrap:wrap;
        justify-content:center;
        min-width: 222px;
    }

    .projects-enter {
    	transform: scale(0.5) translatey(-80px);
    	opacity:0;
    }

    .projects-leave-to{
    	transform: translatey(30px);
    	opacity:0;
    }

    .projects-leave-active {
    	position: absolute;
    	z-index:-1;
    }

    .circle {
    	text-align:center;
    	position:absolute;
    	bottom:-38px;
    	left:40px;
    	width:100px;
    	height:100px;
    	border-radius:50px;
    /* 	border:1px solid black; */
    	display:flex;
    	box-shadow: 0px -4px 3px 0px #494d3257;
    	justify-content:center;
    	align-items:center;
    	background-color:#fff;
    /* 	box-shadow:0px -3px 3px #484848a6; */
    }

    .project {
    	transition: all .35s ease-in-out;
    	box-shadow:0px 2px 8px lightgrey;
    	border-radius:3px;
    	width:20%;
        margin: 1%;
        margin-bottom: 35px;
    	height:auto;
    	display:flex;
    	flex-direction:column;
        align-items:center;
        min-width: 222px;
    }
    .project-wrap{
        padding: 10px
    }

    .project-image-wrapper {
    	position:relative;
    }

    .gradient-overlay {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:auto;
    	opacity:0.09;
    	background: 
    		linear-gradient(to bottom, rgba(0,210,247,0.65) 0%,rgba(0,210,247,0.64) 1%,rgba(0,0,0,0) 100%), 
    		linear-gradient(to top, rgba(247,0,156,0.65) 0%,rgba(247,0,156,0.64) 1%,rgba(0,0,0,0) 100%);
    	border-bottom-left-radius:10px;
    	border-bottom-right-radius:10px;
    	border-top-left-radius:3px;
    	border-top-right-radius:3px;
    }

    .project-image {
    	width:100%;
    	height:auto;
    	border-bottom-left-radius:5px;
    	border-bottom-right-radius:5px;
    	border-top-left-radius:3px;
    	border-top-right-radius:3px;
    }
    .p-inner{
        display:block;
        padding: 15px 10px;
        width:100%;
    }
</style>

