<template>
    <div>
        <transition name="router-anim" enter-active-class="animated fadeIn" >
            <router-view></router-view>
        </transition>
        <FooterComponent></FooterComponent>
    </div>
</template>

<script>

import FooterComponent from './layouts/Footer'
    export default {
       components:{
           FooterComponent
       }

    }
</script>
