<template>
    <div v-if="is_refresh">
        <section class="banner-area" >
            <div class="container">
                <div class="row fullscreen align-items-center justify-content-between">
                  
                    <div class="col-lg-6 col-md-6 banner-left" >
                        <h6>This is me</h6>

                        <h1> {{ profiles[0].name }}</h1>
                        <p>
                           {{ profiles[0].intro_text }}
                        </p>
                        <a href="/about" class="primary-btn text-uppercase">discover now</a>
                    </div>
                    <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
                        <img class="img-fluid" :src="imgLink" alt="">
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    export default {
        data: function(){
            return{
                profiles: [],
                is_refresh: false,
                imgLink: '',
            }
        },
  
        mounted() {
            this.update()
        },
       
        
        methods:{
            update: function(){
                this.is_refresh = false
                axios.get('api/main').then((response) =>{
                    this.profiles = response.data
                    this.imgLink = this.profiles[0].avatar
                    this.is_refresh = true
                    console.log(this.profile)
                })
                
            }
        }

    }
</script>
